@import url('./fonts.css');

:root {
  /* NEUTRAL */
  --white: #ffffff;
  --near-white: #f5f5f5;
  --near-black: #1d1d1d;
  --gray: #666666;
  --black: #000000;

  /* COLORS */
  --green: #2fa700;
  --blue: #2366d3;
  --pink: #ed225d;
}

::selection {
  background: #000;
  color: #fff;
}

/* COLORS */
.bg-near-black {
  background-color: var(--near-black);
}

/* PADDING */
.pa {
  padding: 2rem;
}
.pb {
  padding-bottom: 2rem;
}
.pb2 {
  padding-bottom: 4rem;
}
.mb {
  margin-bottom: 2rem;
}
.mw {
  max-width: 800px;
  margin: 0 auto;
}

/* TEXT ALIGN */
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}

/* DISPLAY */
.dib {
  display: inline-block;
}

/* VERTICAL ALIGN */
.v-middle {
  vertical-align: middle;
}
.v-base {
  vertical-align: baseline;
}
.v-top {
  vertical-align: top;
}
.v-bottom {
  vertical-align: bottom;
}

/* FLEX BOX */
.flex {
  display: flex;
}
.v-center {
  align-items: center;
}
.h-center {
  justify-content: center;
}
.h-space {
  justify-content: space-between;
}

/* LIST */
ol.list-inline {
  display: inline;
}
ol.list-inline li {
  display: inline;
  counter-increment: listItem;
  margin: 0 1em;
}
ol.list-inline li:before {
  content: counter(listItem) '. ';
}

/* MY GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 0;
  grid-column-gap: 0;
}
.g-quarter {
  grid-column: span 3;
}
.g-third {
  grid-column: span 4;
}
.g-half {
  grid-column: span 6;
}
.g-full {
  grid-column: span 12;
}

/* MEDIA ELEMENTS */
.videoWrapper {
  position: relative;
  width: 100%;
  height: 0px;
  padding-bottom: 53.6%;
}
.videoWrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
