@font-face {
  font-family: 'IBM Plex Mono';
  src: url('./IBMPlexMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Neue Montreal';
  src: url('./NeueMontreal-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Neue Montreal Medium';
  src: url('./NeueMontreal-Medium.otf') format('opentype');
}
